@import 'shadows';

.container {
  margin: 2rem;
}

.searchBar {
  input {
    border: none;
    padding: 1em;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    @include BoxShadow(2);
  }
}

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.actionButtons {
  display: flex;
  margin: 2em 0;

  >* {
    margin-left: 1em;
  }
}
